<h1>All restaurants</h1>
<ul>
  <% @restaurants.each do |r| %>
    <li><%= link_to r.name, restaurant_path(r) %></li>
  <% end %>
</ul>
<p><%= link_to 'Add a new restaurant', new_restaurant_path %></p>
